body {
    background: rgb(134,191,183);
    background: radial-gradient(circle, rgba(134,191,183,1) 20%, rgb(224, 136, 113) 80%) !important;
    margin: 0%;
    height: 100%;
}

.container-sm {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

p.lead {
    font-weight: 500;
}

.custom-card {
    background-color: rgba(203, 203, 203, 0.499) !important;
    backdrop-filter: blur(10px) !important;
    opacity: 0.9 !important;
    text-decoration: none !important;
    padding: 1rem !important;
    height: max-content;
}

.card-body {
    font-weight: 400;
}


.display-6 {
    font-size: larger !important;
    text-decoration: underline;
    color: blue;
}

@media (max-width: 767px) {
    .custom-card {
      margin-bottom: 60px;
    }
  }